{% extends 'layout' %}

{% block title %}{% if project.id %}{{ project.name }} &bull; {% endif %}{{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: project.id ? [
                {text: project.name, icon: 'briefcase', avatar: project.logo, url: route('projectShow', {name: project.name})},
                {text: 'crud.edit.action'|l, icon: 'pencil' },
            ] : [
                {text: 'entity.Project.new.action'|l, icon: 'briefcase' }
            ]
        } %}
        <form method="post" class="form" enctype="multipart/form-data">
            {{ form.render('Avris\\Micrus\\Forms\\Style\\Bootstrap2')|raw }}
            <div class="text-right">
                <button class="btn btn-primary">
                    <span class="fa fa-save"></span>
                    {{ 'crud.save.action'|l }}
                </button>
            </div>
        </form>
    </main>
{% endblock %}
