{% extends 'layout' %}

{% block title %}{{ project.name }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: project.name, icon: 'briefcase', avatar: project.logo, url: route('projectShow', {name: project.name})},
                {text: 'entity.Project.invite.action'|l, icon: 'envelope-open'},
            ]
        } %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post">
                    {{ form.render('Avris\\Micrus\\Forms\\Style\\Bootstrap')|raw }}
                    <button class="btn btn-primary btn-block">
                        <span class="fa fa-envelope-open"></span>
                        {{ 'entity.Project.invite.action'|l }}
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
