{% extends 'layout' %}

{% block title %}{{ project.name }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: project.name, icon: 'briefcase', avatar: project.logo },
                {text: 'entity.Project.join.action'|l, icon: 'users' }
            ]
        } %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>
                    {{ 'entity.Project.join.explain'|l }}
                </p>
                <p class="manager-list">
                    {% for user in project.managers %}
                        {% include 'User/badge' with {user: user} %}
                    {% endfor %}
                </p>
                <form method="post">
                    <button class="btn btn-primary btn-block">
                        <span class="fa fa-users"></span>
                        {{ 'entity.Project.join.action'|l }}
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
