{% extends 'layout' %}

{% block title %}{{ project.name }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: project.name, icon: 'briefcase', avatar: project.logo, url: route('projectShow', {name: project.name}) },
                {text: 'entity.Project.leave.action'|l, icon: 'sign-out' }
            ]
        } %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>
                    {{ 'entity.Project.leave.confirm'|l({project: project.name}) }}
                </p>
                <form method="post">
                    <button class="btn btn-danger btn-block">
                        <span class="fa fa-sign-out"></span>
                        {{ 'entity.Project.leave.action'|l }}
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
