{% extends 'layout' %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: 'entity.Project.list.header'|l, icon: 'briefcase' }
            ]
        } %}
        {% if projects|length %}
            {% include 'Project/projectsCards' %}
        {% else %}
            <div class="text-center">
                <p>
                    <strong>{{ 'entity.Project.list.empty'|l }}</strong>
                </p>
                <p>
                    <span class="fa fa-search fa-5x"></span>
                </p>
                {% include 'Project/listLinks' %}
            </div>
        {% endif %}
    </main>

    <aside>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-8 text-right-lg small">
                {% include 'Project/listLinks' %}
            </div>
        </div>
    </aside>
{% endblock %}
