<ul class="list">
    {% if isGranted('ROLE_MANAGER') %}
        <li>
            <a href="{{ route('projectNew') }}">
                <span class="fa fa-plus-circle"></span>
                {{ 'entity.Project.new.action'|l }}
            </a>
        </li>
    {% endif %}
    {% if app.request.routeMatch.route.name == 'projectList' %}
        <li>
            <a href="{{ route('projectAll') }}">
                <span class="fa fa-list"></span>
                {{ 'entity.Project.all.action'|l }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ route('projectList') }}">
                <span class="fa fa-list"></span>
                {{ 'entity.Project.list.action'|l }}
            </a>
        </li>
    {% endif %}
</ul>
