<div id="projects" class="card-container">
    {% for project in projects %}
        <a class="card" href="{{ route('projectShow', {name: project.name}) }}" style="background-image: url('{{ project.logo ? project.logo|imagine('card') : asset('assetic/gfx/project.png') }}')">
            <div class="card-content">
                <h4>{{ project.name }}</h4>
                <p>
                    <span class="fa fa-users"></span>
                    {{ project.users.count }}
                    {% if app.user.canManageProject(app.roleChecker, project) %}
                        <span class="fa fa-wrench"></span>
                        {{ 'entity.ProjectUser.fields.canManage'|l }}
                    {% endif %}
                </p>

                <p>
                    {% if app.user.canSeeProject(app.roleChecker, project) %}
                        {% for server in project.servers %}
                            <span id="{{ server.id }}" class="label label-{{ server.currentStatus.taken ? 'danger' : 'success' }}">{{ server.name }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="fa fa-ban"></span>
                        <strong>{{ 'entity.ProjectUser.noAccess'|l }}</strong>
                    {% endif %}
                </p>
            </div>
        </a>
    {% endfor %}
</div>
