<form method="post" action="{{ route('projectRequest', {name: project.name, user: requestingUser.id}) }}"
      class="alert alert-warning" xmlns="http://www.w3.org/1999/html">
    <p>
        {% include 'User/badge' with {user: requestingUser} %}
        {{ 'entity.Project.request.info'|l }}

        <span class="links-spread">
        {% spaceless %}
            <a href="mailto:{{ requestingUser.email }}"
               data-toggle="tooltip"
               data-placement="top"
               title="{{ requestingUser.email|e }}">
                <span class="fa fa-envelope"></span>
            </a>

            {% for source in socialSources %}
                {% set account = source.buildSocialAccount(requestingUser) %}
                {% if account is not empty %}
                    <a {% if account.link %}href="{{ account.link }}"{% endif %}
                       target="_blank"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title="{{ account|nl2br|e }}">
                        <span class="{{ source.icon }}"></span>
                    </a>
                {% endif %}
            {% endfor %}
        {% endspaceless %}
        </span>


        <button type="submit" name="accept" class="btn btn-success btn-xs">
            <span class="fa fa-check-circle"></span> {{ 'entity.Project.request.accept.action'|l }}
        </button>
        <button type="submit" name="decline" class="btn btn-danger btn-xs" data-confirm="{{ 'entity.Project.request.decline.confirm'|l|e }}">
            <span class="fa fa-times-circle"></span> {{ 'entity.Project.request.decline.action'|l }}
        </button>
    </p>
</form>
