{% extends 'layout' %}

{% block title %}{{ project.name }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    {% if app.user.canManageProject(app.roleChecker, project) %}
        {% for requestingUser in project.requests %}
            {% include 'Project/request' %}
        {% endfor %}
    {% endif %}

    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: project.name, icon: 'briefcase', avatar: project.logo }
            ],
            actions: [
                {text: 'crud.edit.action'|l, icon: 'pencil', url: route('projectEdit', {name: project.name}), condition: app.user.canManageProject(app.roleChecker, project) },
                {text: 'entity.Project.invite.action'|l, icon: 'envelope-open', url: route('projectInvite', {name: project.name}), condition: app.user.canManageProject(app.roleChecker, project) },
            ],
        } %}

        {% include 'Server/list' with {servers: project.servers} %}
    </main>

    <aside>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    {{ 'entity.Project.show.usersCount'|l({count: project.users.count}) }}
                </p>
                {% include 'User/badgeList' with {users: project.users} %}
            </div>
            <hr class="hidden-lg"/>
            <div class="col-lg-4 text-right-lg">
                <ul class="list small">
                    <li>
                        <a href="{{ route('projectLeave', {name: project.name}) }}" class="text-danger">
                            <span class="fa fa-sign-out"></span>
                            {{ 'entity.Project.leave.action'|l }}
                        </a>
                    </li>
                    {% if app.user.canManageProject(app.roleChecker, project) %}
                        <li>
                            <a href="{{ route('projectRemove', {name: project.name}) }}" class="text-danger">
                                <span class="fa fa-trash"></span>
                                {{ 'crud.delete.action'|l }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </aside>
{% endblock %}

{% block micrusjsVars %}
    M.canManageProject = {{ app.user.canManageProject(app.roleChecker, project)|json_encode|raw }};
{% endblock %}
