<!DOCTYPE html>
<html lang="{{ app.locale.language }}">
<head>
    <meta charset="utf-8">
    {% block meta %}
        <title>{% block title %}{{ 'main.title'|l }} &bull; {{ 'main.slogan'|l }}{% endblock %}</title>
        <meta name="description" content="{{ 'main.description'|l }}" />
        <meta name="keywords" content="{{ 'main.keywords'|l }}" />
        <meta name="author" content="Andrzej Prusinowski <andre@avris.it>" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="{{ asset('assetic/gfx/favicon.png') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset(assets.css) }}"/>
    {% endblock %}
</head>
{% block body %}
{% endblock %}
</html>
