{% extends 'base' %}

{% block body %}
<body class="has-fixed-navbar">
{% include 'Nav/menu' %}

<div class="container {% block containerClass %}{% endblock %}">
    {% include 'flash' %}
    {% block content %}{% endblock %}
</div>

{% include 'Nav/footer' %}
{% include 'notifications' %}

{% block scripts %}
    <script src="{{ route('micrusjs') }}"></script>
    <script>
        M.routeMatch = {{ app.request.routeMatch|json_encode|raw }};
        {% block micrusjsVars %}{% endblock %}
    </script>
    <script src="{{ asset(assets.js) }}"></script>
{% endblock %}
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.avris.it/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '8']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
</body>
{% endblock %}