<div class="notifications">
    <script type="text/template">
        <div class="alert alert-%type% alert-dismissible fade">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>%content%</p>
        </div>
    </script>
</div>
