<span class="links-spread">
        {% spaceless %}
    <a href="mailto:{{ entity.email }}"
       data-toggle="tooltip"
       data-placement="top"
       title="{{ entity.email|e }}">
        <span class="fa fa-envelope"></span>
    </a>

    {% for source in socialSources %}
        {% set account = source.buildSocialAccount(entity) %}
        {% if account is not empty %}
            <a {% if account.link %}href="{{ account.link }}"{% endif %}
               target="_blank"
               data-toggle="tooltip"
               data-placement="top"
               data-html="true"
               title="{{ account|nl2br|e }}">
                <span class="{{ source.icon }}"></span>
            </a>
        {% endif %}
    {% endfor %}
{% endspaceless %}
