{% if entity is defined and entity.id %}
    <a href="{{ route('projectShow', { name: entity.name }) }}" target="_blank" class="btn btn-sm btn-info" title="Open">
        <span class="fa fa-television fa-fw"></span> {{ 'entity.Project.show.action'|l }}
    </a>
{% endif %}
