<div class="links-spread">
    {% for server in entity.servers %}
        {% if server.urlDisplay %}
            <a href="{{ server.urlDisplay }}" target="_blank" class="label label-{{ server.currentStatus.taken ? 'danger' : 'success' }}">
                {{ server.name }}
            </a>
        {% else %}
            <span class="label label-{{ server.currentStatus.taken ? 'danger' : 'success' }}">{{ server.name }}</span>
        {% endif %}
    {% endfor %}
</div>
