<table class="table">
    <tr>
        <th>{{ 'entity.Project.fields.name'|l }}</th>
        <th>{{ 'entity.ProjectUser.fields.createdAt'|l }}</th>
        <th>{{ 'entity.ProjectUser.fields.manager'|l }}</th>
        <th>{{ 'entity.ProjectUser.fields.active'|l }}</th>
    </tr>
    {% for userProject in entity.projectUsers %}
        <tr>
            <td><a href="{{ route('admin_user_show', {id: userProject.user.id}) }}">{{ userProject.user.email }}</a></td>
            <td>{{ userProject.createdAt|date('format.dateTime'|l) }}</td>
            <td>{% include 'Crud/bool' with {value: userProject.canManage} %}</td>
            <td>{% include 'Crud/bool' with {value: userProject.active} %}</td>
        </tr>
    {% endfor %}
</table>
