{% extends 'bgLayout' %}

{% block content %}
    <div class="col-md-4 col-md-offset-1">
        <div class="jumbo">
            <h1>
                <img src="{{ asset('assetic/gfx/logoWhite.svg') }}" class="main-logo"/>
                {{ 'main.title'|l }}
                <br/>
                <small>{{ 'main.slogan'|l }}</small>
            </h1>
            <hr/>
            <h3>{{ 'error.header'|l({'%code%': errorCode}) }}</h3>
            <p><a href="{{ route('home') }}"><span class="fa fa-home"></span> {{ 'error.backToHome'|l }}</a></p>
        </div>
    </div>
{% endblock %}
