{% extends 'Mail/layout' %}

{% block content %}
    <p>
        {{ 'mail.invitation.intro'|l({inviter: inviter, project: project}) }}
    </p>
    <p class="text-center main-focus">
        <a href="{{ acceptLink }}" class="btn btn-success btn-lg" target="_blank">{{ 'mail.invitation.accept'|l }}</a>
    </p>
{% endblock %}
