{% extends 'Mail/layout' %}

{% block content %}
    <p>
        {{ 'mail.requestAccepted.intro'|l({project: project}) }}
    </p>
    <p class="text-center main-focus">
        <a href="{{ projectLink }}" class="btn btn-success btn-lg" target="_blank">{{ 'mail.common.openProject'|l }}</a>
    </p>
{% endblock %}
