{% extends 'layout' %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                { text: 'user.account.header'|l, avatar: app.user.avatar }
            ]
        } %}
        <div class="row">
            {% include 'User/account/general' %}

            {% set i = 1 %}
            {% for source in socialSources %}
                {% if i is divisible by(2) %}</div><div class="row">{% endif %}
                {% include 'User/account/social' with {account: source.buildSocialAccount(app.user)} %}
                {% set i = i + 1 %}
            {% endfor %}
        </div>
    </main>

    {% include 'User/account/emailModal' %}
    {% include 'User/account/passwordModal' %}
{% endblock %}
