{% if user %}
    <img src="{{ user.avatar|imagine('avatar') }}"
         class="avatar avatar-big"
         data-toggle="tooltip"
         data-placement="top"
         data-html="true"
         title="{{ user|e }} {% if canManage is defined and canManage %}{{ ('<br/><span class="fa fa-wrench"></span> ' ~ 'entity.ProjectUser.fields.canManage'|l)|e }}{% endif %}"
    />
{% else %}
    <img src="{{ asset('assetic/gfx/system.png') }}"
         class="avatar avatar-big"
         data-toggle="tooltip"
         data-placement="top"
         title="{{ 'entity.User.system'|l|e }}"
    />
{% endif %}
