{% extends 'bgLayout' %}

{% block content %}
    <div class="col-md-4 col-md-offset-1">
        <div class="jumbo">
            <h1>
                <img src="{{ asset('assetic/gfx/logoWhite.svg') }}" class="main-logo"/>
                {{ 'main.title'|l }}
                <br/>
                <small>{{ 'main.slogan'|l }}</small>
            </h1>
            <hr/>
            <p class="text-justify">{{ 'main.description'|l  }}</p>
            {#<hr/>
            <p class="screens">
                <img src="{{ asset('assetic/gfx/screen1.png') }}"/>
                <img src="{{ asset('assetic/gfx/screen2.png') }}"/>
            </p>#}
        </div>
    </div>
    <div class="col-md-4 col-md-offset-2">
        {% include 'flash' %}
        {% include 'User/loginBox' %}
    </div>
{% endblock %}
