td.crud-actions {
  white-space: nowrap;
}

.crud-list td {
  white-space: nowrap;
}

//.crud-list .crud-column-servers {
//  max-width: 200px;
//  white-space: normal;
//}

.container-wide {
  @media (min-width: $screen-lg-min) {
    width: $screen-lg-min - 2 * $main-margin;
  }
}
