.alert {
  &.fade {
    opacity: 0;
    filter: blur(20px);
    transition: all 0.5s linear;
    top: -2*$main-margin;
    position: relative;
    margin-top: -71px;
    //margin-top: attr(data-height px); TODO
    &.in {
      opacity: 1;
      filter: blur(0px);
      top: 0;
      margin-top: 0; //TODO
    }
  }
}

@keyframes mad-spin {
  0%   { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

body.u-mad * {
  animation: mad-spin 8s infinite ease-in-out;
}
