.avatar {
  height: 1.2em;
  border-radius: 50%;

  &.avatar-big {
    height: 2.5em
  }

  & ~ span.avatar-margin {
    margin-left: 8px;
  }
}

.badge-list {
  margin-left: 0.7em;
  margin-bottom: ($line-height-computed / 2);

  .avatar {
    display: inline-block;
    position: relative;
    border: 0.2em solid $body-bg;
    margin-left: -0.7em;
  }
}
