$card-width: 320px;
$card-height: 200px;
$card-text-layer-height: 44px;
$screen-xxs-max: 450px;
$card-margin: 4px;

.card {
  width: 100%;
  max-width: $card-width;
  height: $card-height;
  display: inline-block;
  margin: $card-margin;
  padding: 0;
  text-align: left;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
  @include bgfull;
  > .card-content {
    transition: 0.25s ease-in-out;
    width: 100%;
    height: $card-height;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: $card-height - $card-text-layer-height;
    color: #fff;
    h4 {
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    h4, p {
      margin: 12px;
    }
  }
  &:hover {
    > div {
      top: 0;
    }
  }
  &.card-static {
    padding: 48px 24px;
  }
}

.card-container {
  .card {
    @media (min-width: $screen-lg-min) {
      width: calc(25% - 3 * #{$card-margin});
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      width: calc(33% - 3 * #{$card-margin})
    }
    @media (min-width: $screen-xxs-max + 1) and (max-width: $screen-sm-max) {
      width: calc(50% - 3 * #{$card-margin})
    }
    @media (max-width: $screen-xxs-max) {
      width: calc(100% - 3 * #{$card-margin});
    }
  }
}
