ul.form-errors {
  clear: both;
  margin-top: 10px;
  color: $brand-danger;
  padding-left: 8px;
  list-style-type: none;
  font-weight: bold;
}
.form-general-errors:not(.has-error) {
  margin-bottom: 0;
}

.form {
  .form-group {
    label[for] {
      line-height: 32px;
    }
    &.form-general-errors {
      margin-bottom: 0;
    }
  }
}

.form-multiple {
  .form-group {
    margin-bottom: 0;
  }
  .form-multiple-action {
    width: 1px;
  }
}

.form-group.required label[for]:after {
  content: "*";
  margin-left: 6px;
  opacity: 0.8;
  color: $brand-danger;
}
