.label-block {
  @include clearfix;
  .label {
    border-radius: 0;
    float: left;
    &:first-child {
      border-radius: .25em 0 0 .25em;
    }
    &:last-child {
      border-radius: 0 .25em .25em 0;
    }
  }
}