@mixin listHorizontal {
  &.list-horizontal {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    > li {
      position: relative;
      display: inline;
      vertical-align: middle;
      &:after {
        content: " ";
        margin: 0 8px;
        display: inline-block;
      }
      &:last-child:after {
        content: " ";
        margin: 0;
        display: inline-block;
      }
    }
    &.list-horizontal-wide {
      > li {
        &:after {
          margin: 0 16px;
        }
        &:last-child:after {
          margin: 0;
        }
      }
    }
  }
}

ul, ol {
  &.list {
    display: block;
    list-style-type: none;
    padding: 0;
    > li {
      margin: 8px 0;
    }
  }

  &.list-horizontal-xs {
    @include listHorizontal;
  }

  @media (min-width: $screen-xs-max) {
    @include listHorizontal;
  }
}

.list-spread {
  > a, > span {
    margin: 0 8px;
    display: inline-block;
  }
}

.links-spread {
  > a, > span {
    margin: 0 0.5em;
  }
}
