$login-color: #ddd;
$login-bg: rgba(0, 0, 0, 0.5);
$login-border: 1px solid rgba(0, 0, 0, 0.75);

body.full-image {
  position: relative;
  background: #000 url("gfx/bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  padding-top: 96px;
  color: $login-color;

  h1, h2, h3 {
    color: #fff;
    small {
      color: $login-color;
    }
  }

  .jumbo {
    padding: 0 $main-margin;
    a {
      color: #fff;
    }
  }

  .tab-content {
    background-color: $login-bg;
    border-left: $login-border;
    border-bottom: $login-border;
    border-right: $login-border;

    color: #fff;
    a {
      color: #fff;
    }
  }

  .nav-tabs.nav-tabs-justified {
    > li {
      > a {
        border: 1px solid transparent;
        border-bottom: $login-border;
        font-size: 1.4em;
        &:not(:hover) {
          color: $login-color;
        }
        transition: all 0.3s linear;
      }
      &.active, &:hover {
        > a {
          color: #fff;
          background-color: $login-bg;
          border-top: $login-border;
          border-left: $login-border;
          border-right: $login-border;
          border-bottom: 1px solid transparent;
        }
      }
    }

    @media (min-width: 0) {
      > li {
        display: table-cell;
        width: 1%;
        > a {
          margin-bottom: 0;
        }
      }
    }

    @media (min-width: 0) {
      > li > a {
        border-radius: $border-radius-base $border-radius-base 0 0;
      }
    }

    @media (max-width: $screen-sm-max) {
      margin-top: 64px;
    }
  }

  .screens {
    img {
      width: 80%;
      margin: 0 10% 1em 10%;
    }
  }

  footer {
    background-color: $login-bg;
    border-top: $login-border;
    color: #fff;
    a {
      color: #fff;
    }
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 16px;
    .jumbo {
      padding: $main-margin;
    }
  }
}
