$web-font-path: "https://fonts.googleapis.com/css?family=Ubuntu:400,700" !default;
@import url($web-font-path);

html, body {
  min-height: 100%;
  width: 100%;
}

body.has-fixed-navbar {
  padding-top: 96px;
}

main {
  background: $main-background;
  border: $border;
  padding: $main-margin !important;
  margin-bottom: $main-margin;
}

aside {
  padding: 0 24px !important;
}

footer {
  @include clearfix;
  background: $main-background;
  border-top: $border;
  margin-top: 2*$main-margin;
  font-size: 0.9em;
  padding: 18px 0;
  &.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  li > a {
    white-space: nowrap;
  }
}

.disabled > a {
  cursor: default !important
}

.panel-body {
  .dl-horizontal {
    dt {
      width: 100px;
    }
    dd {
      margin-left: 120px;
    }
  }
}

.icon {
  height: 1.2em;
}

.pointer {
  cursor: pointer;
}

.popover{
  position:fixed;
}

.short {
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}

.tooltip-inner {
  word-break: break-all;
}

@media (min-width: $screen-lg-min) {
  .text-right-lg {
    text-align: right;
  }
}

.bigger {
  font-size: 1.8em;
}
