nav {
  @extend .clearfix;

  .breadcrumb {
    float: left;
  }

  .btn-actions {

    @media (min-width: $screen-sm-min) {
      float: right;
      position: relative;
      top: 4px;
    }

    @media (max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}

.navbar {
  .navbar-header {
    @media (min-width: 0) {
      float: left;
    }
    .navbar-brand {
      font-size: $font-size-h3;
      img {
        height: 1.2em;
        display: inline;
        vertical-align: middle;
        margin-right: 8px;
        position: relative;
        top: -0.1em;
      }
    }
  }
  .navbar-big {
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: $navbar-height - 2 * 17px;
  }

  .avatar {
    height: 2em;
  }
}

.breadcrumb-big {
  font-size: $font-size-h3;
  padding: 0 4px;
}

.main-logo {
  height: 2em;
  float: left;
  margin-right: 16px;
}

@media (min-width: 0) {
  .navbar-right {
    .dropdown-menu {
      right: 0; left: auto;
    }
    .dropdown-menu-left {
      left: 0; right: auto;
    }
  }
}
