.notifications {
  position: fixed;
  left: $main-margin;
  bottom: $main-margin - $line-height-computed;
  width: 400px;
  max-width: calc(100% - #{2*$main-margin});

  .alert {
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
  }
}