.tab-content {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px 16px;
}

.nav-tabs-justified {
  white-space: nowrap;
}
