{% extends 'layout' %}

{% block title %}{{ 'api.reference.header'|l }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        <h1>{{ 'api.reference.header'|l }}</h1>
        <dl class="dl-horizontal">
            <dt>Format</dt>
            <dd>JSON</dd>

            <dt>Base URL</dt>
            <dd>{{ base }}</dd>

            <dt>Version</dt>
            <dd>v1</dd>

            <dt>Authorization header</dt>
            <dd>X-Token: ••••••••••<br/>Every API key is assigned to <strong>one project</strong></dd>
        </dl>
        <h2>Project</h2>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>GET /project</h4></div>
            <div class="panel-body">
                <p>Returns info about the project assigned to the used API key.</p>
            </div>
        </div>
        <h2>Servers</h2>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>GET /servers</h4></div>
            <div class="panel-body">
                <p>Returns a list of all servers of the project.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>GET /server/{name}</h4></div>
            <div class="panel-body">
                <p>Returns a single server identified by <code>{name}</code> (string).</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>POST /server/{name}/take</h4></div>
            <div class="panel-body">
                <p>Takes the server identified by <code>{name}</code> (string).</p>
                <h5>JSON body parameters:</h5>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td><code>user</code></td>
                        <td>string</td>
                        <td>Email of the user that calls dibs on the server</td>
                        <td><em>System</em> (can be released by anybody)</td>
                    </tr>
                    <tr>
                        <td><code>branch</code></td>
                        <td>string</td>
                        <td></td>
                        <td><em>null</em></td>
                    </tr>
                    <tr>
                        <td><code>autoRelease</code></td>
                        <td>string (must be able to parse with <a href="https://secure.php.net/manual/en/function.strtotime.php" target="_blank">strtotime</a>)</td>
                        <td>Date and time of the automatic release</td>
                        <td><em>null</em> (no automatic release)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>POST /server/{name}/release</h4></div>
            <div class="panel-body">
                <p>Releases the server identified by <code>{name}</code> (string).</p>
                <h5>JSON body parameters:</h5>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td><code>user</code></td>
                        <td>string</td>
                        <td>Email of the user that releases the server</td>
                        <td><em>System</em> (can release any server)</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>GET /server/{name}/history</h4></div>
            <div class="panel-body">
                <p>Returns a list of recent updates of the server identified by <code>{name}</code> (string).</p>
                <h5>Query parameters:</h5>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                    <tr>
                        <td><code>limit</code></td>
                        <td>integer</td>
                        <td>Max number of entries</td>
                        <td>25</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>

    <aside>
        <div class="row">
            <ul class="list small text-right-lg">
                <li>
                    <a href="{{ route('apiReferencePostman') }}" class="text-danger">
                        <span class="fa fa-download"></span>
                        {{ 'api.reference.download'|l }}
                    </a>
                </li>
            </ul>
        </div>
    </aside>
{% endblock %}
