body {
  background-color: #fff;
}

.mail-container {
  padding: 24px 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.navbar {
  padding: 0 15px;
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
}

h1 {
  margin-top: ($line-height-computed / 2);
  a {
    color: $text-color;
  }
  small {
    line-height: 2em;
  }
}

.main {
  padding: $main-margin;
  background-color: $body-bg;
  border: $border;
  p {
    text-align: justify;
    &.main-focus {
      padding: $main-margin;
      text-align: center;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

footer {
  border-top: $border;
}
