<div class="table-responsive">
    <table class="table table-striped table-high  table-middle table-exclusive" id="servers">
        <tr>
            <th>{{ 'entity.Server.singular'|l }}</th>
            <th>{{ 'entity.ServerUpdate.take.takenBy'|l }}</th>
            <th>{{ 'entity.ServerUpdate.fields.branch'|l }}</th>
            <th></th>
            <th></th>
        </tr>
        {% for server in servers %}
            {% include 'Server/single' %}
        {% endfor %}
    </table>
</div>
