{% extends 'layout' %}

{% block title %}{{ server.fullName }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: server.project.name, icon: 'briefcase', avatar: server.project.logo, url: route('projectShow', {name: server.project.name})},
                {text: server.name, icon: 'server', url: route('serverShow', {server: server})},
                {text: 'entity.ServerUpdate.release.action'|l, icon: 'unlock'},
            ]
        } %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post">
                    {% if not isForce %}
                        <button class="btn btn-primary btn-block">
                            <span class="fa fa-unlock"></span>
                            {{ 'entity.ServerUpdate.release.action'|l }}
                        </button>
                    {% else %}
                        <p class="text-justify">{{ 'entity.ServerUpdate.release.forceWarning'|l }}</p>
                        <button class="btn btn-danger btn-block">
                            <span class="fa fa-unlock"></span>
                            {{ 'entity.ServerUpdate.release.action'|l }}
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}
