{% extends 'layout' %}

{% block title %}{{ server.fullName }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% set toggleAction = server.currentStatus.taken
            ? {text: 'entity.ServerUpdate.release.action'|l, icon: 'unlock', url: route('serverRelease', {server: server}), condition: not server.currentStatus.user or server.currentStatus.user == app.user or app.user.canManageProject(app.roleChecker, server.project) }
            : {text: 'entity.ServerUpdate.take.action'|l, icon: 'lock', url: route('serverTake', {server: server}) }
        %}

        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: server.project.name, icon: 'briefcase', avatar: server.project.logo, url: route('projectShow', {name: server.project.name})},
                {text: server.name,  icon: 'server'},
            ],
            actions: server.urlDisplay
                ? [ {text: 'entity.Server.open.action'|l, icon: 'external-link', url: server.urlDisplay, target: '_blank' }, toggleAction]
                : [ toggleAction ]
        } %}

        <table class="table table-striped table-high table-middle">
            <tr>
                <th>{{ 'entity.ServerUpdate.fields.status'|l }}</th>
                <th>{{ 'entity.ServerUpdate.fields.updatedBy'|l }}</th>
                <th>{{ 'entity.ServerUpdate.fields.branch'|l }}</th>
            </tr>
            {% for update in server.recentHistory %}
                <tr>
                    <td>
                        {% if update.taken %}
                            <span class="label label-danger">
                            {{ 'entity.ServerUpdate.take.taken'|l }}
                        </span>
                        {% else %}
                            <span class="label label-success">
                            {{ 'entity.ServerUpdate.release.free'|l }}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        {% include 'User/badge' with {user: update.user} %}
                        <span class="timediff avatar-margin"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="{{ update.createdAt|date('Y-m-d H:i:s') }}">
                            {{ update.createdAt|timeDiff }}
                        </span>
                    </td>
                    <td>
                        <span class="short">{{ update.branch }}</span>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </main>
{% endblock %}
