<tr {% if server.currentStatus.taken %}class="danger"{% endif %} id="{{ server.id }}">
    <td>
        <strong>
            {% if server.urlDisplay %}
                <a href="{{ server.urlDisplay }}" target="_blank">{{ server.name }}</a>
            {% else %}
                {{ server.name }}
            {% endif %}
        </strong>
    </td>
        <td>
            {% if server.currentStatus.taken %}
                {% include 'User/badge' with {user: server.currentStatus.user} %}
                <span class="timediff avatar-margin"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="{{ server.currentStatus.createdAt|date('Y-m-d H:i:s') }}">
                    {{ server.currentStatus.createdAt|timeDiff }}
                </span>
            {% else %}
                <span class="label label-success">
                    {{ 'entity.ServerUpdate.release.free'|l }}
                </span>
            {% endif %}
        </td>
        <td>
            <span class="short">{{ server.currentStatus.branch }}</span>
        </td>
        <td>
            <a href="{{ route('serverShow', {server: server}) }}" class="btn btn-default btn-xs">
                <span class="fa fa-list-ul"></span>
            </a>
        </td>
        <td>
            {% if server.currentStatus.taken %}
                {% if server.currentStatus.autoRelease %}
                    <div class="small text-center"
                         data-toggle="tooltip"
                         data-placement="top"
                         title="{{ 'entity.ServerUpdate.fields.autoRelease'|l|e }}">
                        <span class="fa fa-clock-o"></span>
                        {{ server.currentStatus.autoRelease|date('format.dateTime'|l) }}
                    </div>
                {% endif %}
                {% if not server.currentStatus.user or server.currentStatus.user == app.user %}
                    <a href="{{ route('serverRelease', {server: server}) }}" class="btn btn-success btn-xs btn-block">
                        <span class="fa fa-unlock"></span>
                        {{ 'entity.ServerUpdate.release.action'|l }}
                    </a>
                {% elseif app.user.canManageProject(app.roleChecker, project) %}
                    <a href="{{ route('serverRelease', {server: server}) }}" class="btn btn-danger btn-xs btn-block">
                        <span class="fa fa-unlock"></span>
                        {{ 'entity.ServerUpdate.release.force'|l }}
                    </a>
                {% endif %}
            {% else %}
                <a href="{{ route('serverTake', {server: server}) }}" class="btn btn-default btn-xs btn-block">
                    <span class="fa fa-lock"></span>
                    {{ 'entity.ServerUpdate.take.action'|l }}
                </a>
            {% endif %}
        </td>
</tr>
