{% extends 'layout' %}

{% block title %}{{ server.fullName }} &bull; {{ parent() }}{% endblock %}

{% block content %}
    <main>
        {% include 'Nav/nav' with {
            breadcrumbs: [
                {text: server.project.name, icon: 'briefcase', avatar: server.project.logo, url: route('projectShow', {name: server.project.name})},
                {text: server.name, icon: 'server', url: route('serverShow', {server: server})},
                {text: 'entity.ServerUpdate.take.action'|l, icon: 'lock'},
            ]
        } %}

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form method="post">
                    {{ form.render('Avris\\Micrus\\Forms\\Style\\Bootstrap')|raw }}
                    <button class="btn btn-primary btn-block">
                        <span class="fa fa-lock"></span>
                        {{ 'entity.ServerUpdate.take.action'|l }}
                    </button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
