<div class="btn-group btn-actions">
    {% for action in actions %}
        {% if action.condition is not defined or action.condition %}
            <a href="{{ action.url }}" class="btn btn-default btn-sm" {% if action.target is defined %}target="{{ action.target }}"{% endif %}>
                <span class="fa fa-{{ action.icon }}"></span>
                {{ action.text }}
            </a>
        {% endif %}
    {% endfor %}
</div>
