{% if breadcrumb.avatar is defined and breadcrumb.avatar %}
    <img src="{{ breadcrumb.avatar|imagine('avatar') }}" class="avatar"/>
{% else %}
    {% if breadcrumb.icon is defined %}
        <span class="fa fa-{{ breadcrumb.icon }}"></span>
    {% endif %}
{% endif %}
{{ breadcrumb.text }}
