<ul class="breadcrumb breadcrumb-big">
    {% for breadcrumb in breadcrumbs %}
        <li {% if loop.last %}class="active"{% endif %}>
            {% if breadcrumb.url is defined %}
                <a href="{{ breadcrumb.url }}">
                    {% include 'Nav/breadcrumb' %}
                </a>
            {% else %}
                {% include 'Nav/breadcrumb' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
