<footer>
    <div class="container">
        <ul class="text-center list list-horizontal list-horizontal-wide">
            <li><span class="fa fa-user"></span> Andrzej Prusinowski</li>
            <li><a href="https://avris.it" target="_blank"><span class="fa fa-globe"></span> avris.it</a></li>
            <li><a href="mailto:andre@avris.it" target="_blank"><span class="fa fa-envelope"></span> andre@avris.it</a></li>
            <li><a href="{{ route('apiReference') }}"><span class="fa fa-gears"></span> API</a></li>
            <li><a href="https://gitlab.com/Avris/Dibsy" target="_blank"><span class="fa fa-gitlab"></span> Git</a></li>
            <li><a href="https://mit.avris.it" target="_blank"><span class="fa fa-file-text"></span> MIT</a></li>
            <li><a href="https://paypal.me/AvrisIT" target="_blank"><span class="fa fa-paypal"></span> {{ 'main.donate'|l }}</a></li>
        </ul>
    </div>
</footer>
