<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ route('projectList') }}" class="navbar-brand navbar-big">
                <img src="{{ asset('assetic/gfx/logo.svg') }}"/>
                {{ 'main.title'|l }}
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user and app.user.isAdmin %}
                    <li>
                        <a href="{{ route('admin_dashboard') }}">
                            <span class="fa fa-dashboard"></span>
                        </a>
                    </li>
                    {#
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="other">
                            <span class="fa fa-dashboard"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="other">
                            {% for crud, options in cruds if routeExists(crud ~ '_list') %}
                                <li>
                                    <a href="{{ route(crud ~ '_list') }}">
                                        <span class="fa fa-fw {{ options.icon }}"></span>
                                        {{ ('entity.'~options.model~'.plural')|l }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    #}
                {% endif %}
                {# TODO
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id=languageuser">
                        <span class="flag-{{ app.locale.guessFlag }} flag-circle"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="language">
                        {% for key, val in app.locales %}
                            <li {% if app.locale == key  %}class="disabled"{% endif %}>
                                <a href="{{ route('changeLocale', { locale: key }) }}">
                                    <span class="flag-{{ key|length == 2 ? key|upper : key|slice(3) }}"></span> {{ val }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                #}
                {% include 'User/indicator' %}
            </ul>
        </div>
    </div>
</div>
